{% extends 'base.html' %} {% block title %}
<title>Output</title>
{% endblock title %} {% block style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/output.css') }}"
/>
{% endblock style %} {% block content %}
<div class="container">
  <h1>Your Resume Check Score</h1>
  <div class="dashboard">
    <svg>
      <circle class="bg" cx="57" cy="57" r="52"></circle>
      <circle class="meter" cx="57" cy="57" r="52"></circle>
    </svg>
    <text x="57" y="57" text-anchor="middle" dy=".3em" class="value">0%</text>
  </div>
  <p id="result"></p>
  <div class="keyword">
    {% for category, items in {'present': present, 'missing': missing, 'extra': extra}.items() %}
    <div>
      <p class="keyword-heading">
        {% if category == 'present' %}Keywords present in your resume are:{% endif %}
        {% if category == 'missing' %}Keywords needed to be included are:{% endif %}
        {% if category == 'extra' %}Additional Keywords included are:{% endif %}
      </p>
      <ul>
        {% for x in items %}
        <li>{{ x }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
  
</div>
{% endblock content %} {% block script %}
<script>
  let targetValue = {{ score }};
</script>
<script src="{{ url_for('static', filename='script/output.js') }}"></script>
{% endblock script %}
